@model IEnumerable<Product>
@{
    ViewData["Title"] = "Listing Product";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3"> 
            <div class="card">
                <img src="@item.ImageURL" alt="@item.Name" style="width:100%;height:300px;">
                <h1>@item.Name</h1>
                <p>@item.Price.ToString("c")</p>
                <p>@item.Descriptoin</p>
                <p style="color:@item.ProductColor">@item.ProductColor</p>
                <p>@item.Category.Name</p>
                <button>Add To Card</button>

            </div>


        </div>
    }

</div>